* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    height: clamp(35rem, 100vw, 45rem);
    width: clamp(22rem, 80vw, 80rem);
}